:root{
  --color1: #1c1e24;
  --color2: #31339a;
  --color3: #2d30df;
  --color4: #46bf66;
  --color5: #ddbc35;
  --color6: #434546;
  --color7: #ffffff;

}

body {
  background: var(--color1);
}

#one{
  background: var(--color2);
}

#two{
  background: none;
  outline: 5px solid var(--color3);
  outline-offset: -5px;


}

#three{
  background: var(--color4);
}

#four{
  background: var(--color5);
}

#five{
  background: var(--color6);
}

.colorTest{
  color: var(--color7);

  text-align: center;
  vertical-align: middle;
  border: none;
    
  padding: 30px 24px;

  font-size: 20px;  
  font-family: Helvetica;
  font-weight: 700;
  border-radius: 5px;
}