:root{
  --color1: #1c1e24;
  --color2: #31339a;
  --color3: #2d30df;
  --color4: #46bf66;
  --color5: #ddbc35;
  --color6: #434546;
  --color7: #ffffff;

}

body {
  background: var(--color1);
  color: var(--color7);
}

#one{
  background: var(--color2);
}

#two{
  background: var(--color3);
}

#three{
  background: var(--color4);
}

#four{
  background: var(--color5);
}

#five{
  background: var(--color6);
}

.colorTest{
  width: 35px;
  height: 45px;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;  
  font-family: Helvetica;
  font-weight: 700;
  border-radius: 5px;
}